{% extends "base.html" %}

{% block head %}
<meta charset="UTF-8">
<meta name="description" content="Admin może dodać tutaj producenta.">
<title> Lumpex </title>
<link rel="stylesheet" href="{{ url_for('static', filename='delete_category.css') }}">
{% endblock %}

{%block current%}
<li class="nav-item active">
    <a class="nav-link" href="/">Strona Główna</a>
</li>
{%endblock%}

{% block categories %}
<a href="/3">Wróć na stronę główną by zobaczyć kategorie </a>
{% endblock %}

{% block body %}

<br><br><br>
<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10 col-lg-10">
            <div class="border">
                <div class="question bg-white p-3 border-bottom">
                    <div class=" mcq">
                        <h4>Dodaj Producenta</h4>
                        <small> Po dodaniu producenta, będziesz mógł wybierać go jako producenta produktów, które będziesz dodawał w przyszłości.</small>
                    </div>
                </div>
                <form method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="question bg-white p-3 border-bottom">
                        <div class="d-flex flex-row align-items-center question-title mb-3">
                            <h3 class="text-danger">N.</h3>
                            <h5 class="mt-1 ml-2 ">Nowy Producent.</h5>
                        </div>
                        <div class="form-group">
                            <label for="producer">Nazwa Producenta</label>
                            <input type="text" class="form-control cat" id="producer" name="producer" aria-describedby="Help" placeholder="Wpisz nazwę producenta" required>
                            <small id="Help" class="form-text text-muted">Pod tą nazwą producent będzie widoczna dla Ciebie i użytkowników.</small>
                          </div>
                          <div class="form-group">
                            <label for="description">Email</label>
                            <input type="email" class="form-control description" name="description" id="description" placeholder="********@gmail.com" required>
                          </div>

                    </div>
                    <div class="d-flex flex-row justify-content-between align-items-center py-3 px-4 bg-white"><input
                            class="btn btn-primary d-flex align-items-center btn-success" type="submit"
                            value="Dodaj producenta">
                        </input><a href="/3/"><button
                                    class="btn btn-primary border-secondary align-items-center btn-secondary"
                                    type="button">STRONA GŁÓWNA</button></a> 
                                    
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br><br><br>
{% endblock %}

{% block user_options %}
<span class="logged-in">Jesteś zalogowany jako:</span>
<span class="user-name">Administrator</span>
<a href="/data"> Dane osobiste</a>
<a href="/add_producer"> Dodaj producenta</a>
<a href="/add_new_product"> Dodaj produkt</a>
<a href="/add_courier"> Dodaj kuriera</a>
<a href="/statistics"> Statystyki</a>
<a href="/orders"> Zamówienia do zrealizowania</a>
<a href="/logout" onclick="alert('Zostałeś wylogowany')"> Wyloguj</a>
{%endblock %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/vendor/holder.min.js"></script>